html{
    box-sizing: border-box;
    text-align: center;
  }
h1 {
    width: 8em;
    height: 2em;
    border: 4px black;
    background-color: rgb(187, 215, 213);
    font-family: "Georgia", Times, "Times New Roman", serif;
    text-align: center;
}
p {
    color: black;
    font-family:"Arial", "Helvetica Neue", Helvetica, sans-serif;
}
head {
    background-color: rgb(250, 229, 172);
    border: #cccccc;
    width:100%;
    height:10%;
    margin: 0 auto;
}
.topnav {
    background-color: rgb(250, 229, 172);
    overflow: hidden;
    width:100%;
}

/* Style the links inside the navigation bar */
.topnav a {
    color: darkslategray;
    text-align: left center;
    padding: 17px;
    text-decoration: none;
    font-size: 20px;
}


.topnav a:hover {
    background-color: rgb(187, 215, 213);
    color: black;
}


.left {
    float: left;
    text-align: center;
}

.right {
    float: right;
    text-align: center;
}

body {
    width: 100%;
    height: 100%;
}
form{
    text-align: center;
}
.text{
    font-size: 20px;
    text-align: left;
}
.longtext{
    height: 200px;
    font-size: 20px;
    text-align: left;
}

article{
    width: 960px;
    height:80%;
    margin: 0 auto;
    background-color: rgb(250, 229, 172);
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

footer{
    clear: both;
    background: rgb(250, 229, 172);
    width: 100%;
    height: 10%;
    margin: 0 auto;
}
@media only screen and (max-width:980px) {
    .right {
        margin-right: 5px;
    }
}

@media only screen and (max-width: 768px) {
    .main{
        max-width: 100%;
    }
    .portfolio{
        width: 45%;
        margin-bottom:10px;
    }
}
@media only screen and (max-width: 640px) {
    .topnav{
        position: static;
        margin-bottom: 20px;
    }
    .main{
        padding: 0;
    }
    .portfolio{
        width: 100%;
    }

}